
body{
    font: 13px Helvetica, Arial;
    overflow: hidden;
}

#minimize{
    cursor:pointer;
    position: absolute;
    right: 10px;
    top: 13px;
}


#open{
    color: rgb(70, 184, 218);
    display: none;
}

#chat{
    width: 50px;
    cursor:pointer;
    bottom: 0;
    right: 0;
    position: fixed;
    display: none;
}

#chatmsg {
    height: 565px;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
}

.media-body{
    word-wrap: break-word;
    max-width: 400px;
    width: 400px;
}
#chatWrap{
    /*height: 150px;*/
    position:absolute;
    right: 0;
    padding:0;
    margin:0;

    play: none;
}
#nickWrap{
    width: 300px;
    height: 250px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#contentWrap{
    display: none;
}

#logout{
    position: fixed;
    bottom: 5em;
    left: 85.5em;
    padding: 15px 32px;
}


.sidenav {
    height: 100%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /*second transition effect to slide in the sidenav */
}



/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-width: 768px) {
    .sidenav {width: 0}
    #open{display: block}
    #chatWrap{
        bottom: 30px;
        display: none;
    }
    #chatmsg {
        height: 360px;
        width: 100%;
        overflow: hidden;
        overflow-y: auto;
    }
    #chat{display: block;}
}

@media screen and (min-width: 768px){
    #chatWrap{
        height: 100%;
        display: block;
    }
}
